<!-- {% extends 'diseño.html'%}

{% block body %}

<form action="/update/{{requerimiento.0}}" method="post">

    <div class="row">
    <input type="text" name="n_servicio" placeholder="N° de servicio" value="requerimiento.1">
    </div>
    
    <div class="row">
    <input type="text" name="id_jur" placeholder="Jurisdicción" value="requerimiento.2">
    </div>
    
    <input type="text" name="ff" placeholder="Fuente de financiamiento" value="requerimiento.3">
    <div class="row">
    
    <div class="row">
    <input type="text" name="credito" placeholder="Crédito" value="requerimiento.4">
    </div>
    
    <div class="row">
    <input type="text" name="recursos" placeholder="Recursos" value="requerimiento.5">
    </div>
    
    <div class="row">
    <input type="text" name="observaciones" placeholder="Observaciones" value="requerimiento.6">
    </div>
    
    <button type="submit">Cargar</button>
    
    </form>

{% endblock %}  -->